* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  padding: 50px 80px;
}

header {
  width: 100%;
  height: 100px;
}

.left,
.right {
  padding: .5em;
}

.left {
  float: left;
  width: 30%;
}
.right {
  float: right;
  width: 60%;
}

.left > img {
  width: 4.5em;
}

.right ul {
  list-style: none;
  display: flex;
}
.right ul li {
  margin-right: 4em;
}
.right ul li a {
  text-decoration: none;
  color: black;
}
.right ul li a.active {
  color: #0cd977;
  text-decoration: underline;
}

.content {
  font-size: 1.2em;
  font-weight: bold;
}
